process {
    publishDir = {"./results_bst/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    help = false
    root = false
    
    atlas_anat = "~/Datasets/hcp_atlas/orig/193441/fa.nii.gz"
    atlas_directory = "~/Datasets/hcp_atlas/orig/193441/"
    atlas_bundles_basename = "AF_L,AF_R"

    use_orientational_priors = true
    use_bs_tracking_mask = false
    use_bs_endpoints_mask = false
    bs_endpoints_mask_dilation = 3
    use_tracking_mask_as_seeding = true
    bs_tracking_mask_dilation = 3

    local_tracking = true
    pft_tracking = false

    seeding = "npv"
    nbr_seeds = 1
    algo = "prob"
    basis = "descoteaux07"
    min_length = 20
    max_length = 200
    compress_error_tolerance = 0.2
    tracking_seed = 0

    // Recobundle segmentation
    recobundle = true
    wb_clustering_thr = 4
    model_clustering_thr = 3
    prunning_thr = 8
    outlier_alpha = 0.5

    register_processes=4
}