process {
    publishDir = {"./results_bst/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {
    help = false
    root = false
    atlas_anat = false
    atlas_directory = false

    use_orientational_priors = true
    use_bs_tracking_mask = true
    use_bs_endpoints_mask = false
    bs_endpoints_mask_dilation = 3
    use_tracking_mask_as_seeding = true
    bs_tracking_mask_dilation = 3

    local_tracking = true
    pft_tracking = false

    seeding = "npv"
    nbr_seeds = 1
    algo = "prob"
    basis = "descoteaux07"
    min_length = 20
    max_length = 200
    compress_error_tolerance = 0.2
    tracking_seed = 0

    // Recobundle segmentation
    recobundle = true
    wb_clustering_thr = 6
    model_clustering_thr = 2
    prunning_thr = 12
    outlier_alpha = 0.6

    register_processes=4
}